@import "vars.scss";
/* layout.scss */
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $secondary-color;
    margin: 0;
}

.container {
    padding: 1px;
}

.content {
    overflow: auto;
}

.card {
    margin: 14px;
    padding: 2em;
    background: white;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


@media all and (max-width: 520px) {
    .nav {
        width: 180px;
        margin: 0 auto;
    }
}

@media all and (min-width: 775px) {
    .sidebar {
        float: right;
        width: 220px;
    }
}

@media all and (min-width: 950px) {
    .container {
        width: 900px;
        margin: 0 auto;
    }
    .content {
        width: 500px;
        float: right;
    }
}