/* style.scss */
@import "vars.scss";

body {
    font: normal normal normal 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
    color: $text-color;
    font-size: 0.9em;
}

h1, h2 {
    text-align: left;
    line-height: 1.4em;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

@import "layout.scss";
@import "nav.scss";
@import "photography.scss";
@import "cv.scss";
@import "sqlsimon.scss";