@model smgoodman.co.uk.Models.Photography.AlbumPhoto
<div class="ph-thumb-container">
    <img class="ph-thumb" src="~/Content/images/portfolio/thumbs/@Model.Photo.Filename" data-fullsize-url="@Model.Photo.Filename" data-width="@Model.Photo.Width" data-height="@Model.Photo.Height" />
</div>
